name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  avoid_reduncy:
    runs-on: ubuntu-18.04
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{github.token}}

  lint:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2 # code repository app
        with:
          fetch-depth: 0 # last commit
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: install dependencies
        run: npm ci # npm install optimized
      - name: lint
        run: npm run eslint

  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2 # code repository app
        with:
          fetch-depth: 0 # last commit
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: install dependencies
        run: npm ci # npm install optimized
      - name: build
        run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  test:
    needs: [lint, build]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2 # code repository app
        with:
          fetch-depth: 0 # last commit
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: install dependencies
        run: npm ci # npm install optimized
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: test
        run: npm test

  e2eTest:
    needs: [lint, build]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2 # code repository app
        with:
          fetch-depth: 0 # last commit
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: install dependencies
        run: npm ci # npm install optimized
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: test
        run: npm test
      - name: test e2e
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start-test
          wait-on: http://localhost:5000

  deploy:
    needs: [test, e2eTest]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2 # code repository app
        with:
          fetch-depth: 0 # last commit
      - name: deploy to heroku
        if: ${{ github.event_name == 'push' }}
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}} #Must be unique in Heroku
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          healthcheck: "https://${{secrets.HEROKU_APP_NAME}}.herokuapp.com/health"
          checkstring: "OK"
          rollbackonhealthcheckfailed: true

  bumpVersion:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # last commit
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
